<h1>Roaster List</h1>

<% @roasters.each do |roaster| %>
    <%= link_to "#{roaster.name}", "/roasters/#{roaster.id}" %>
    <p>Created at: <%= roaster.created_at %></p></br></br>
<% end %>
<%= link_to "New Roaster",  "/roasters/new"%>