<h1>Welcome to Relational Rails</h1>

<ul>
  <%= link_to 'authors', '/authors' %>
  <%= link_to 'books', '/books' %>
  <%= link_to 'roasters', '/roasters' %>
  <%= link_to 'coffee beans', '/coffeebeans' %>
</ul>